html {
    background-color:#141414
}

header {

    background-color:#141414;
    font-size: 68px;
    margin: auto;
    text-align: center;
}

header span {
    color: red;
    font-family: 'Arial Black', Arial, sans-serif;
    font-weight: bold;
    letter-spacing: 4px;
}

body {
    background-color:#141414;
}

main {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color:#141414;
    margin: auto;
    font-weight: bold;
    font-family: 'Arial Black', Arial, sans-serif;
}

footer {
    background-color:#292929;
    min-height: 500px;
}

.logo-footer {
    width: 200px;
    height: auto;
    margin-top: 20px;
}

.footer-text{
    font-size: 1.5rem;
    color: white;
    padding: 20px;

}

.icons-social-networks a{
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
    margin: 10px;
    border: 2px solid white;
    border-radius: 50%;
    transition: all 0.2s ease-in;
}

.icons-social-networks i {
    color: white;
    font-size: 1.5rem;
    transition: all 0.2s ease-in;
}

.icons-social-networks a:hover {
    background-color: white;
    border: 2px solid rgb(13, 110, 253);
}

.icons-social-networks a:hover i {
    color: black;
}

.copyright {
    font-size: 15px;
    color: #aeaeae;
    padding: 20px;
}

nav{
    background-color:#141414;
}

#nav-container {
    background-color: #141414;
    padding-top: 20px;
}


.btn.btn-primary {
    background-color: red;
    border: none;
    
}

.btn.btn-primary:hover {
    background-color: darkred;
}

.fixed-img {
    height: 600px;
}

.genres {
    color: white;
    padding-top: 30px;
}

.container {
    background-color:#141414;
}

.card-text {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

.btn{
    background-color: red;
}

.divider {
    border: none;
    height: 5px;
    width: 100%;
    background-color: white;
    margin: 20px auto;
    border-radius: 5px;
}