html {
    background-color: black;
}

header {

    background-color: black;
    font-size: 68px;
    margin: auto;
    text-align: center;
}

header span {
    color: red;
    font-family: 'Arial Black', Arial, sans-serif;
    
}

main {
    background-color: black;
}

div {
    margin: auto;
    padding: 0%;
}

h1 {
    color: white;
    font-family: 'Arial Black', Arial, sans-serif;
    text-align: center;
}