

<footer class="d-flex flex-column align-items-center justify-content-center">
        <img src="/images/logo/logo.png" alt="footer" class="logo-footer">
        <p class="footer-text text-center">Tu dosis diaria de series, siempre a un click.</p>
        <div class="icons-social-networks d-flex flex-wrap align-items-center justify-content-center">
            <a href="#">
                <i class="bi bi-twitter-x"></i>
            </a>
            <a href="#">
                <i class="bi bi-instagram"></i>
            </a>
            <a href="#">
                <i class="bi bi-facebook"></i>
            </a>
        </div>
        <div class="copyright">Creado por: Daniel Marcos Serrano Jaime Bergad Lario Héctor Moreno García (2025) &#169;</div>
    </footer>
