<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style_detalle_notfiml.css">
    <link rel="stylesheet" href="/css/style_footer.css">
    <link rel="stylesheet" href="/css/style_header.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="shortcut icon" href="/images/logo/logo.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <title>Notfilm</title>
</head>
<body>
    {{>header}}
    <div class="row">
        <div class="col-lg-8 col-12">
            <div class="row">
                <h1 id="Title" class="card-title">{{serie.title}} <span  class="badge rounded-pill {{serie.badgeClass}}">{{serie.ageClassification}}+</span></h1>
                <hr class="divider"></h1>
            </div>
            <div class="row">
                <ul>
                    <li>Género: {{serie.genre}}</li>
                    <li>Estreno: {{serie.premiere}}</li>
                    <li>Temporadas: {{serie.seasons}}</li>
                </ul>
                <h3>{{episode.numEpisode}}. {{episode.titleEpisode}}</h3>
                <p>{{episode.timeEpisode}} minutos</p>
            </div>
            <div class="row">
                <h5>Sinopsis:</h5>
                <p id="Text_synopsis">{{episode.synopsisEpisode}}</p>
            </div> 
            <div id="row_button" class="row">
                <div class="buttons-group1">
                    <button class="btn-interactive">
                        <i class="bi bi-hand-thumbs-up-fill"></i>
                        <span class="btn-text">Me gusta</span>
                    </button>
                    <button class="btn-interactive">
                        <i class="bi bi-arrow-down-circle-fill"></i>
                        <span class="btn-text">Descargar</span>
                    </button>
                    <button class="btn-interactive">
                        <i class="bi bi-share-fill"></i>
                        <span class="btn-text">Compartir</span>
                    </button> 
                </div>
            </div>
            <div>
                <img id="visual" src="/episode/{{serie._id}}/{{episode.numEpisode}}/image">
            </div>
            <div id="row_button" class="row">
                <button type="button" class="btn btn-danger">
                    <i class="bi bi-play-fill"></i>
                </button> 
            </div>
                <div  class = "form-actions">
                    <a id= "moveepisode" href="/previus/{{serie._id}}/{{episode.numEpisode}}" class="btn-default">Last Episode</a>
                    <a  id= "moveepisode" href="/next/{{serie._id}}/{{episode.numEpisode}}" class="btn-default">Next Episode</a>
                </div>
            <div class="row"> 
                <h3>Trailer</h3> 
                <hr class="divider">
            </div>
            <div class="row">
                <video id="visual" src="/episode/{{serie._id}}/{{episode.numEpisode}}/video" controls autoplay loop></video>
            </div>
            <div id="row_button" class="row">
                <div class="buttons-group2">
                    <a href="/borrarserie/{{serie._id}}" class="btn-interactive">
                        <i class="bi bi-trash"></i>
                        <span class="btn-text">Borrar</span>
                    </a>
                    <a href="/serie_update/{{serie._id}}" class="btn-interactive">
                        <i class="bi bi-pencil-fill"></i>
                        <span class="btn-text">Editar</span>
                    </a>
                    <a href="/" class="btn-interactive"> 
                        <i class="bi bi-arrow-left-circle-fill"></i>
                        <span class="btn-text" >Pagina principal</span>
                    </a> 
                </div> 
            </div> 
        </div>
        <div class="col-lg-4 col-12">
            <div class="form-container">  
                <h2 id="Form-title">Crear nuevo episodio</h2> 
                <form action="/add_episode/{{serie._id}}" method="POST" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="titleEp" class="form-label">Título del episodio</label>
                    <input type="text" class="form-control" id="titleEp" name="titleEpisode" placeholder="Nombre del episodio"/>
                </div>

                <div class="form-group">
                    <label for="synopsis" class="form-label">Sinopsis</label>
                    <textarea class="form-control" id="synopsis" name="synopsisEpisode" placeholder="Breve descripción del episodio" rows="3"></textarea>
                </div>

                <div class="form-group">
                    <label for="NumEp" class="form-label">Número de episodio</label>
                    <input type="number" class="form-control" id="NumEp" name="numEpisode" placeholder="Ejemplo: Episodio 1" />
                </div>

                <div class="form-group">
                    <label for="Duration" class="form-label">Duración del episodio</label>
                    <input type="number" class="form-control" id="Duration" name="timeEpisode" placeholder="Ejemplo: 24 minutos" />
                </div>

                <div class="form-group">
                    <label for="Episode" class="form-label">Episodio</label>
                    <input type="file" class="form-control" id="Episode" name="imageFilenamedetalle" />
                </div>

                <div class="form-group">
                    <label for="Trailer" class="form-label">Trailer del episodio</label>
                    <input type="file" class="form-control" id="Trailer" name="trailerEpisode" />
                </div>

                <div class="form-actions">
                    <button type="submit" class="btn-action">Guardar</button>
                    <a href="/update_episode/{{serie._id}}/{{episode.numEpisode}}" class="btn-action">Editar</a>
                    <a href="/borrarepisode/{{serie._id}}/{{episode.numEpisode}}" class="btn-action">Borrar</a>
                </div>
            </form>
            </div>
        </div>
    </div>                  
</div>
{{>footer}} 
</body>  
</html> 