<div class="modal fade" id="modal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                    <div class="modal-title" id="modalHead-text"></div>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="modal-text">
            </div>
            <div class="modal-footer">
                <div id="modal-button"></div>
                <!-- <button class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button> -->
            </div>
        </div>
           
    </div>
</div>