html, body {
    background-color: #141414;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 0;
}

.row, .container {
    padding: 20px;
    background-color: #141414;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.error-container, .success-container {
    padding: 40px;
    background-color: #141414;
    border-radius: 10px;
    width: 80%;
    max-width: 600px;
    margin: 50px auto;
    box-shadow: 0px 4px 20px #141414;
    text-align: center;
}

div h1 {
    color: #e50914;
    text-align: center;
    margin-bottom: 30px;
    font-size: 50px;
    font-weight: bold;
}

div p {
    color: white;
    font-size: 20px;
    margin-bottom: 15px;
}


a.btn, .btn {
    background-color: #e50914 !important; 
    color: white !important;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 18px;
    text-decoration: none;
    display: inline-block;
    transition: background-color 0.3s ease, transform 0.2s ease;
    cursor: pointer;
    margin-top: 10px;
}

a.btn:hover, .btn:hover {
    background-color: #b0060f !important;
    transform: scale(1.05);
}

a.btn + a.btn, .btn + .btn {
    margin-top: 10px;
}

input, label, select, textarea, .form-control, .form-select {
    display: none;
}

.container.my-5.text-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}



