header {

    background-color:#141414;
    font-size: 68px;
    margin: auto;
    text-align: center;
}

header span {
    color: red;
    font-family: 'Arial Black', Arial, sans-serif;
    font-weight: bold;
    letter-spacing: 4px;
}