html {
    background-color:#141414
}

.genre-buttons{
    background-color: #141414;
    padding-top: 30px;
    padding-bottom: 30px;
}

body {
    background-color:#141414;
}

main {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color:#141414;
    margin: auto;
    font-weight: bold;
    font-family: 'Arial Black', Arial, sans-serif;
}

.card-title .badge.bg-danger {background-color: red;}
.card-title .badge.bg-orange {background-color: orange;}
.card-title .badge.bg-warning {background-color: yellow;}

nav{
    background-color:#141414;
}

#nav-container {
    background-color: #141414;
    padding-top: 20px;
}


.btn.btn-primary {
    background-color: red;
    border: none;
    
}

.btn.btn-primary:hover {
    background-color: darkred;
}

.fixed-img {
    height: 600px;
}

.genres {
    color: white;
    padding-top: 30px;
}

.container {
    background-color:#141414;
}

.card-text {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

.btn{
    background-color: red;
}
.pagination .page-link {
    color: white;
    background-color: red;
    border-color:#141414;
}

.pagination .page-item.active .page-link {
    color: white;
    background-color:darkred;
    border-color:#141414;
}

.pagination .page-link:hover {
    background-color: darkred;
    border-color:#141414;
    color: white;
}
