html {
    background-color: #141414
}

header {

    background-color:#141414;
    font-size: 68px;
    margin: auto;
    text-align: center;
}

header span {
    color: red;
    font-family: 'Arial Black', Arial, sans-serif;
    font-weight: bold;
    letter-spacing: 4px;
}

#Title { 
    color:white;
    text-align: start;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 100px;
}

.divider {
    border: none;
    height: 5px;
    width: 100%;
    background-color: white;
    border-radius: 5px;
}

div h3{
    color: white;
    font-size: 60px;
}

div p{
    color:white;
    font-size:20px;
}

div ul{
    color:white;
    font-size: 20px;
}

div h5{
    color:white;
    text-align: start;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
}

#Text_synopsis {
    background-color: #1f1f1f; 
    border: 1px solid #1f1f1f; 
    border-radius: 5px; 
    padding: 15px; 
}

#PlayButton{
    display: grid;
    justify-content: center;
}

#row_button {
    display: flex;
    justify-content: center;
    align-items: center;
}

#ageCl{
    background-color: orange;
}

#ageCl{
    font-size: 40%;
}

.btn.btn-danger {
    width: 70%;
    background-color: red;
}

.bi.bi-play-fill{
    font-size: 35px;
    color: white
}

#Text_box{
    width: 80%;
    margin: 10px;
}

#Synopsis_box {
    width: 80%;
    min-height: 30px;
    max-height: 100px;
    border-radius: 12px;    
}


.row{
    padding: 20px;
    background-color:#141414; 
}

.form-label{
    color: white
}

#visual{
    width:100%;
}

.form-container {
    background-color: #1f1f1f;
    border-radius: 10px;
    padding: 40px;
    width: 100%;
    box-shadow: 0px 4px 20px #00000080;
}

div h2 {
    color: #e50914;
    text-align: center;
    margin-bottom: 30px;
    font-size: 50px;
    font-weight: bold;
    letter-spacing: 4px;
}

.form-actions {
    display: flex;
    justify-content: space-between;
    gap: 8px;
    margin-top: 20px;
}

.form-actions a.btn-default {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e50914; 
    color: #ffffff;            
    border-radius: 4px;
    padding: 8px 4px;
    font-size: 14px;
    border: none;
    font-weight: 500;
    flex: 1;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.form-label {
    font-weight: 500;
    margin-bottom: 8px;
    font-size: 16px;
}

.form-control,
.form-select {  
    background-color: #2b2b2b;
    border: 1px solid #444444;
    color: #ffffff;
    padding: 10px;
    font-size: 15px;
    border-radius: 5px;
}

.form-control::placeholder {
    color: #aaaaaa;
}

.form-container .btn-default {
    display: block;
    background-color: #e50914; 
    color: #ffffff;            
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 25px;
    border: none;
    margin-left: auto;
    margin-right: auto;
}

.form-container input[type="file"].form-control::file-selector-button {
    background-color: #e50914;
    color: #ffffff;
    border: none;
    padding: 6px 15px;
    margin-left: 1px;
    border-radius: 5px;
    background-color: #e50914;
}

.buttons-group1 {
    display: flex;
    justify-content: start;
}

.buttons-group2 {
    display: flex;
    justify-content: center;
}

.btn-interactive {
    background-color: #e50914;
    color: white;
    border: 1px solid #2b2b2b;
    border-radius: 5px;
    padding: 15px;
    display: flex;
    font-size: 20px;
    align-items: start;
    transition: all 0.3s ease; 
}

.btn-text {
    max-width: 0;
    opacity: 0;
    white-space: nowrap;
}

.btn-interactive:hover .btn-text {
    max-width: 150px;
    opacity: 1;
    margin-left: 8px; 
    transition: all 0.3s ease; 
}

.buttons-group1 .btn-interactive {
    background-color: transparent;
    color: white;
    border: none;
    border-radius: 5px;
    display: flex;
    font-size: 20px;
    align-items: center;
    transition: all 0.3s ease;
}

.buttons-group1 .btn-interactive:hover {
    background-color: #e50914;
    border: 1px solid #2b2b2b;
}

.buttons-group1 .btn-text {
    max-width: 0;
    opacity: 0;
    transition: all 0.3s ease;
}

.buttons-group1 .btn-interactive:hover .btn-text {
    max-width: 150px;
    opacity: 1;
    margin-left: 8px;
}

footer {
    background-color:#292929;
    min-height: 500px;
}

.logo-footer {
    width: 200px;
    height: auto;
    margin-top: 20px;
}

.footer-text{
    font-size: 1.5rem;
    color: white;
    padding: 20px;
}

.icons-social-networks a{
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
    margin: 10px;
    border: 2px solid white;
    border-radius: 50%;
    transition: all 0.2s ease-in;
}

.icons-social-networks i {
    color: white;
    font-size: 1.5rem;
    transition: all 0.2s ease-in;
}

.icons-social-networks a:hover {
    background-color: white;
    border: 2px solid rgb(13, 110, 253);
}

.icons-social-networks a:hover i {
    color: black;
}

.copyright {
    font-size: 15px;
    color: #aeaeae;
    padding: 20px;
}

