html {
    background-color: #141414
}

#Title { 
    color:white;
    text-align: start;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 100px;
}

.card-title .badge.bg-danger {
    background-color: red;
    font-size: 40%; /* ajusta a tu gusto */
}
.card-title .badge.bg-orange {
    background-color: orange;
    font-size: 40%;
}
.card-title .badge.bg-warning {
    background-color: yellow;
    font-size: 40%;
}
.card-title .badge.bg-info {
    font-size: 40%;
}


.divider {
    border: none;
    height: 5px;
    width: 100%;
    background-color: white;
    border-radius: 5px;
}

div h3{
    color: white;
    font-size: 60px;
}

div p{
    color:white;
    font-size:20px;
}

div ul{
    color:white;
    font-size: 20px;
}

div h5{
    color:white;
    text-align: start;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
}

#Text_synopsis {
    background-color: #1f1f1f; 
    border: 1px solid #1f1f1f; 
    border-radius: 5px; 
    padding: 15px; 
}

#PlayButton{
    display: grid;
    justify-content: center;
}

#row_button {
    display: flex;
    justify-content: center;
    align-items: center;
}


#moveepisode{
    width: 50%;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    background-color: red;
    color: white;
    border-radius: 5px;
}


.btn.btn-danger {
    width: 70%;
    background-color: red;
}

.bi.bi-play-fill{
    font-size: 35px;
    color: white
}

#Text_box{
    width: 80%;
    margin: 10px;
}

#Synopsis_box {
    width: 80%;
    min-height: 30px;
    max-height: 100px;
    border-radius: 12px;    
}


.row{
    padding: 20px;
    background-color:#141414; 
}

.form-label{
    color: white
}

#visual{
    width:100%;
}

.form-container {
    background-color: #1f1f1f;
    border-radius: 10px;
    padding: 40px;
    width: 100%;
    box-shadow: 0px 4px 20px #00000080;
}

div h2 {
    color: #e50914;
    text-align: center;
    margin-bottom: 30px;
    font-size: 50px;
    font-weight: bold;
    letter-spacing: 4px;
}

.form-actions {
    display: flex;
    justify-content: space-between;
    gap: 8px;
    margin-top: 20px;
}

.btn-action {
    display: inline-flex;              
    align-items: center;
    justify-content: center;
    background-color: #e50914;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;          
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.btn-action:hover {
    background-color: #b0060f;
}
.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.form-label {
    font-weight: 500;
    margin-bottom: 8px;
    font-size: 16px;
}

.form-control,
.form-select {  
    background-color: #2b2b2b;
    border: 1px solid #444444;
    color: #ffffff;
    padding: 10px;
    font-size: 15px;
    border-radius: 5px;
}

.form-control::placeholder {
    color: #aaaaaa;
}



.form-container input[type="file"].form-control::file-selector-button {
    background-color: #e50914;
    color: #ffffff;
    border: none;
    padding: 6px 15px;
    margin-left: 1px;
    border-radius: 5px;
    background-color: #e50914;
}

.buttons-group1 {
    display: flex;
    justify-content: start;
}

.buttons-group2 {
    display: flex;
    justify-content: center;
}

.btn-interactive {
    background-color: #e50914;
    color: white;
    border: 1px solid #2b2b2b;
    border-radius: 5px;
    padding: 15px;
    display: flex;
    font-size: 20px;
    align-items: start;
    transition: all 0.3s ease; 
}

.btn-text {
    max-width: 0;
    opacity: 0;
    white-space: nowrap;
}

.btn-interactive:hover .btn-text {
    max-width: 150px;
    opacity: 1;
    margin-left: 8px; 
    transition: all 0.3s ease; 
}

.buttons-group1 .btn-interactive {
    background-color: transparent;
    color: white;
    border: none;
    border-radius: 5px;
    display: flex;
    font-size: 20px;
    align-items: center;
    transition: all 0.3s ease;
}

.buttons-group1 .btn-interactive:hover {
    background-color: #e50914;
    border: 1px solid #2b2b2b;
}

.buttons-group1 .btn-text {
    max-width: 0;
    opacity: 0;
    transition: all 0.3s ease;
}

.buttons-group1 .btn-interactive:hover .btn-text {
    max-width: 150px;
    opacity: 1;
    margin-left: 8px;
}

